@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 16px;
    min-height: 100vh;
    overflow-x: hidden;
    line-height: 1.7;
}
header{
    background-image: url(./images/image-hero-mobile.jpg);
    min-height: 47vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
}
#logo{
    height: 1.5rem;
    width: 8rem;
}
nav{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.nav-items li{
    list-style: none;
    padding: 1.5rem 2rem;
    cursor: pointer;
}
.nav-items * + *{
    border-top:1px solid  hsl(0, 0%, 48%);
}
.nav-items{
    position: absolute;
    top: 4.1rem;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    min-height: 30vh;
    border-radius: 1rem;
    box-shadow: 0 2px 30px  hsl(0, 0%, 48%);
    transform: translateX(120%);
    transition: all .5s ease;
    z-index: 10;
}
.nav-items.active{
    transform: translateX(0%);
}
.menu{
    display: inline-block;
    cursor: pointer;
    transition: all .3s ease;
}
.menu div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
    transition: all .3s ease;
}
.menu.active{
    transform: rotate(180deg);
}
.menu.active #line-2{
    opacity: 0;
}
.menu.active #line-1{
    transform: rotate(45deg) translate(5px, 6px);
    
}
.menu.active #line-3{
    transform: rotate(-45deg) translate(5px, -6px);
}

/* pledge-title-container */

.pledge-title-container{
    padding: 2rem;
    margin: 2rem;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 2px 20px -5px hsl(0, 0%, 48%);
    position: relative;
    transform: translateY(-35%);
}
.pledge-title-container img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.pledge-title-container h3{
    margin-bottom: 1rem;
}
.pledge-title-container p{
    margin-bottom: 1rem;
    font-size: 13px;
    color: hsl(0, 0%, 48%);
}
.pledge-title-container .back-btn{
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    color: #fff;
    background-color:  hsl(176, 50%, 47%);
    width: 80%;
    max-width: 300px;
    cursor: pointer;
    transition: all .3s ease;
}
.pledge-title-container .bookmark{
    font-size: 17px;
    color: #fff;
    background-color: #000;
    padding: 1rem 1.4rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 56px;
}
#bookmark.active .bookmark{
    background-color: hsl(176, 50%, 47%);
    transition:all .3s;
}
.btn{
    display: flex;
    justify-content: space-around;
}
.back-btn:hover{
    background-color: hsl(176, 72%, 28%);
}
#bookmark{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 56px;
    border-radius: 28px;
    background-color: hsl(0, 0%, 95%);
}
#bookmark p{
    font: 500 16px/1 'Commissioner', sans-serif;
    color: hsl(0, 0%, 50%);
    margin: 0;
    display: none;
    width: 124px;
    transition: color 0.25s ease;
}

/* section-2 */
.section-2{
    padding: 2rem;
    margin: -5rem 2rem 2rem ;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 2px 20px -5px hsl(0, 0%, 48%);
}
.section-2 h3{
    font-weight: 700;
    margin-bottom:.5rem;
    font-size: 2rem;
}
.section-2 p{
    font-size: 13px;
    color: hsl(0, 0%, 48%);
    margin-bottom: 1rem;
}
.progress-bar{
    height: 12px;
    width: 100%;
    background-color: hsl(0, 6%, 90%);
    pointer-events: none;
    border-radius: 5px;
    position: relative;
}
.progress-bar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: hsl(176, 50%, 47%);
    width: 76%;
}

/* section-3 */

.section-3{
    padding: 2rem;
    margin: 0rem 2rem 2rem ;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 20px -5px hsl(0, 0%, 48%);
}
.section-3 h3{
    font-weight: 700;
    margin-bottom:.5rem;
    font-size: 1rem;
}
.section-3 p{
    font-size: 13px;
    color:  hsl(0, 0%, 48%);
    margin-bottom: 1rem;
}
.section-3-card{
    border: 1px solid  hsl(0, 0%, 80%);
    padding: 1rem;
    border-radius: .5rem;
    margin: 0rem 0rem 2rem;
}
.section-3-card h3{
    font-size: 2rem;
    font-weight: 700;
}
.card-title p{
    font-size: 13px;
    color: hsl(176, 50%, 47%);
    margin-bottom: 1rem;
}
.section-3-card h3 span{
    font-size: .8rem;
    color: hsl(0, 0%, 68%);
    font-weight: 300;
}
.section-3-card button{
    background-color:  hsl(176, 50%, 47%);
    padding: 1rem 2.5rem;
    margin-top: .5rem;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 2rem;
    transition: all .3s;
}
.section-3-card button:hover{
    background-color: hsl(176, 72%, 28%);
}
.section-3-card.out-of-stock *{
    opacity: 60%;
    cursor:not-allowed;
}

/* back the project */

.back-the-project{
    padding: 2rem;
    margin: 12rem 2rem 2rem ;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 20px -5px hsl(0, 0%, 48%);
}
.back-the-project p{
    font-size: 13px;
    color:  hsl(0, 0%, 48%);
    margin-bottom: 1rem;
}
.back-card{
    border: 1px solid  hsl(0, 0%, 80%);
    padding: 1rem;
    border-radius: .5rem;
    margin: 0rem 0rem 2rem;
    cursor: pointer;   
}

.radio-circle{
    position: relative;
    display: inline-block;
    top: 4px;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 80%);
    margin-right: 1rem;
    transition: all .3s ease;
}
.radio-circle::before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    background-color: hsl(176, 50%, 47%);
    transform: scale(0);
}
input[type="radio"]{
    display: none;
}
.title-wrapper label{
    display: flex;
    align-items: flex-start;
    justify-content:start;
    margin-bottom: 1rem;
}
.back-card.active .radio-circle::before{
    transform: scale(1.3) translate(-40%,-40%);
}
.back-card button{
    background-color:  hsl(176, 50%, 47%);
    padding: 1rem 1.4rem;
    margin:1rem 0;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 2rem;
    transition: all .3s;
    width: 50%;
    max-width: 200px;
}
.back-card button:hover{
    background-color: hsl(176, 72%, 28%);
}
#pledge-text{
    padding: 13px 0rem 13px 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    border: 1px solid  hsl(0, 0%, 68%);
    outline: none;
    width: 80%;
    max-width: 200px;
    margin-right: .5rem;
    position: relative;
}
.wrapper-enter p{
    text-align: center;
}
#back-project-wrapper{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    transition: all .5s ease;
    overflow-y: auto;
}
#back-project-wrapper.show{
    display: block;
}

/* start disabled the arrow of number type */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
/* End */
.wrapper-enter form > div{
    position: relative;
}
.wrapper-enter form > div::before{
    content: "\0024";
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 11;
}
.wrapper-enter{
    display: none;
}
.wrapper-enter > form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-card.active{
    border: 2px solid hsl(176, 50%, 47%);
}
.back-card.active .wrapper-enter{
    display: block;
}

/* thanks-message */
.thanks-message{
    position: fixed;
    top: 25%;
    padding: 2rem;
    margin: 0rem 2rem 2rem ;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 20px -5px hsl(0, 0%, 48%);
    text-align: center;
    transition: all .3s ease;
    z-index: -1;
}
.thanks-message h3{
    font-size: 2rem;
    font-weight: 700;
}
.thanks-message p{
    font-size: 13px;
    color:  hsl(0, 0%, 48%);
    margin-bottom: 1rem;   
}
.thanks-message button{
    background-color:  hsl(176, 50%, 47%);
    padding: 1rem 1.4rem;
    margin:1rem 0;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 2rem;
    transition: all .5s;
    width: 50%;
    max-width: 100px;   
}
#thanks-wrapper{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    transition: all .5s ease;
}
#thanks-wrapper.show{
    display: block;
}
#close{
    font-size: 1.5rem;
    text-align: right;
    display: flex;
    justify-content: end;
    cursor: pointer;
}
.wrapper-enter::after{
    content: "Please Enter the Pledge";
    font-style: italic;
    display:none;
    color: rgb(189, 5, 5);
    font-size: .7rem;

}
.wrapper-enter.error::after{
    display: block;
}
.back-card:nth-of-type(4){
    opacity: 50%;
    cursor: not-allowed;
    pointer-events: none;
}

@media screen and (min-width:48rem){
    .nav-items{
        min-height: 200px;
    }
    .wrapper-enter::after {
        font-style: italic;
        text-align: center;
    }
    .pledge-title-container {
        width: 100%;
        max-width: 50%;
        margin: 0 auto;
    }
    .section-2 {
        width: 100%;
        max-width: 50%;
        margin: -2rem auto 2rem;
    }
    .section-3 {
        margin: 0rem auto 2rem;
        width: 100%;
        max-width: 50%;
    }
    .back-the-project {
        width: 100%;
        max-width: 60%;
        margin: 6rem auto 2rem;
    }
    
}
@media screen and (min-width:77.5rem){
    .menu{
        display: none;
    }
    .nav-items {
        position: unset;
        background-color:unset;
        border-radius:unset;
        box-shadow:unset;
        transform: unset;
        transition:unset;
        color: #fff;
        width: auto;
        height: auto;
    }
    #nav-items ui{
        display: flex;
    }
    .nav-items * + * {
        border-top: none;
    }
    .card-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .card-title p{
        margin: 0;
    }
    .section-3-card {
        padding: 2rem;
    }
    .card-title ~ div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header{
        background-image: url(./images/image-hero-desktop.jpg);
        background-position: center;
    }
    .section-3 h3 {
        margin-bottom: 0rem;
    }
    .section-2 > div:nth-of-type(1){
        display: flex;
        margin-bottom: 2rem;
    }
    .section-2 > div > div:not(:first-child){
        padding-left: 5rem;
        border-left:1px solid  hsl(0, 0%, 68%);
    }
    .section-2 > div > div:not(:last-child){
        padding-right: 5rem;
    }
    .pledge-title-container .bookmark span {
        display: inline;
    }
    #bookmark{
        width: 180px;
    }
    #bookmark p{
        display: block;
        cursor: pointer;
    }
    .pledge-title-container h3 {
        font-size: 1.5rem;
    }
    .btn {
        justify-content: space-between;
    }    
    .pledge-title-container p {
        font-size: 16px;
    }
    .pledge-title-container .back-btn{
        max-width: 250px;
        font-size: 1rem;
    }
    .section-3 p {
        font-size: 16px;
    }
    .section-3 > h3:first-child {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    .thanks-message {
        left: 47%;
        transform: translateX(-50%);
    }
    .thanks-message p {
        font-size: 16px;
    }
    .thanks-message h3 {
        margin-bottom: 1rem;
    }
}

